.sendbird-channel-header__right {
    visibility: hidden;
  }
/* custom.css */

/* Общий стиль для карточки */
.card {
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform, opacity;
}

/* Анимация свайпа вправо */
.card.swiped-right {
  transform: translateX(100vw); /* Перемещение элемента за пределы экрана */
  opacity: 0;
}

/* Анимация свайпа влево */
.card.swiped-left {
  transform: translateX(-100vw); /* Перемещение элемента за пределы экрана */
  opacity: 0;
}
